{% extends 'base.html'%}
{% block content %}

    </br><br>
    <div class="">
        <h2>Misión</h2>
        <p>
            Disminuir la cantidad de animales no castrados mediante castraciones masivas y gratuitas.  
            <br>
            Alcanzar una mejora significativa en la calidad de vida de todos los animales de nuestra ciudad, abarcando también localidades aledañas. 
            <br>
            Generar una red de adopción por todo nuestro territorio, que permita reducir la gran población de
            animales callejeros.             
            
    

        </p>
        <h2>Objetivos</h2>
        <ul>
            <li>Que los animales alcancen una mejor calidad de vida.</li>
            <br>
            <li>Garantizar el acceso a las castraciones.</li>
            <br>
            <li>Concientizar acerca de la tenencia responsable</li>
            <br>
            <li>Difundir información sobre los efectos negativos de la pirotecnia.</li>
            <br>
            <li>Insistir a los organismos correspondientes, en el debate sobre la utilización
                de carros de caballos como medio de carga.</li>
            

        </ul>
        </br><br>
            <div class="col-8">
                 {% load static %}<img src={% static "amolosperrosbanner.jpg"%} class="d-block w-100" class="rounded mx-auto d-block" style="">
             </div>
        </br><br>

        
    </div>

{% endblock %}