{% extends 'base.html'%}
{% block content %}

    </br><br>
    <div class="container text-center"></div>
    <h1>Integrantes:</h1>
    <div class="bd-example">
    <div style="text-align: justify;"><font size=4>

      <ul>
        <li>María Goi</li>
        <li>Marilu Giuggia</li>
        <li>Ana Bogado</li>
        <li>Lorena Gomez</li>
        <li>Carla Acosta</li>
        <li>Ariel Darocas</li>
        <li>Juana Goya</li>
        <li>Marcela Iznardo</li>
        <li>Gladis Fernández</li>
        <li>Rosana Santos</li>
        <li>Laura Avalle</li>
        <li>Fabiana Rolhaiser</li>
        <li>Susana Sosa</li>     
      </ul>

      <p>Información de Contacto:</p>
      <p>Dirección de correo electrónico:</p>
      <ul> 
        <li>cotelaichaco@gmail.com</li>
      </ul>
      <p>Número de teléfono:</p>
      <ul>
        <li>364-4308298</li>
      </ul>

    </font>


{% endblock %}